		<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="web.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
		integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<!-- Header -->
	<div class="header-start">
		<div class="menu">
			<ul class="hmenu">
				<a href="#">
					<li>Self Course</li>
				</a>
				<a href="#">
					<li>List Bussiess</li>
				</a>
				<a href="#">
					<li>Joint Admission Partner</li>
				</a>
			</ul>
		</div>
		<div class="micon">
			<a href="#"><img src="https://img.icons8.com/material-outlined/24/null/iphone-x.png" alt="Download app"></a>
		</div>
		<div class="dapp">
			<a href="#"><span><a href="#">Download App</a></span></a>
		</div>
	</div>
	<!-- heder middle -->
	<div class="hmiddle">
		<div>
			<a href="#"><img class="image" src="image/logonew.png" alt="Digital Class" width="156px" height="35px"></a>
		</div>
		<div class="select">
			<div class="dropdown">
				<button class="dropbtn">Categories</button>
				<div class="dropdown-content">
					<a href="#">Office Tools</a>
					<a href="#">Bussiness Administrations</a>
					<a href="#">Cbse</a>
					<a href="#">Technical Education</a>
					<a href="#">Dance & Music</a>
					<a href="#">Icse</a>
					<a href="#">Bussiness Manangement</a>
					<a href="#">Math For Kid</a>
					<a href="#">Soft Skills</a>
					<a href="#">It & Softwere Devlopment</a>
					<a href="#">Perxnal Life Style</a>
					<a href="#">Personality Devlopment</a>
				</div>
			</div>
			<span class="search"> <input type="search" class="form-control" name="search_data" id="search_data"
					placeholder="Search Courses, Institutions or Services" required="" style="border: 1px solid #1c1d1f;
border-radius: 9999px;background: #f8f8f8;
height: 50px; width: 666px;"></span>
			<span class="sicon"><a href="#"><i class="fa fa-search space"></i></a></span>
			<span class="cicon">
				<a href="#"><img
		src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/30/null/external-help-support-vitaliy-gorbachev-lineal-vitaly-gorbachev.png"></a>
				<a href="#"><img src="https://img.icons8.com/ios/30/null/like--v1.png" alt="Favourite"></a>
				<a href="#"><img src="https://img.icons8.com/ios/30/null/shopping-cart--v1.png" alt="Checkout"></a>
				<a href="#"><img src="https://img.icons8.com/ios/30/null/user-male-circle--v1.png" alt="Account"></a>
				
			</span>
		</div>
	</div>
	<!-- header end -->
	<div class="slider">
		<div class="slides slowFade">
			<div class="slide">
				<img src="image/11.jpg" alt="">
			</div>
			<div class="slide">
				<img src="image/12.jpg" alt="img" />
			</div>
			<div class="slide">
				<img src="image/13.jpg" alt="img">
			</div>
			<div class="slide">
				<img src="image/14.jpg" alt="img">
			</div>
		</div>
	</div>
	<br><br>
	<p style="font-size: 30px; margin-left: 60px;font-family: sans-serif; font-weight: bold;">What's #Trending?</p>
	<br>
	<!-- courses-card-row 1 -->
	<div class="row1">
		<div class="box">
			<div class="ribbon"><span>90% off</span></div>
			<img src="image/B.jpg" alt="card1" width="245" height="149px">
			<div class="card-lable">
				<label style=" margin-left: 16px; font-weight:bold;">Design Thinking</label>
				<p style="font-size: 12px; margin-top: 6px; margin-left: 15px; font-family: sans-serif;">This Course Is
					Mainly Use...</p>
				<span style="font-size: 15px; padding-left: 16px;color: #ff6620;">₹</span><span
					style="font-size: 20px;margin-left: 3px;color: #ff6620;font-weight: 600;">999</span>
				<span class="price_off" style="font-size: 16px;font-weight: 600;color:black;"><span
						style="font-family: sans-serif;">₹</span>10000</span>
				<div class="card-icon">
					<span><a href="#"><img src="https://img.icons8.com/ios/24/null/shopping-cart--v1.png" style=""></a>
						<a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png"></a></span>
				</div>
				<a href="#;" style="text-decoration: none; color:#4a5874 !important;font-size:11px; margin-left: 12px	;"
					tabindex="0">By
					Neeta Training &amp; Consulting Services
				</a>
			</div>
		</div>
	</div>
	<!-- card-2 -->

	<div class="card-2">
		<div class="box">
			<div class="ribbon"><span>30% off</span></div>
			<img src="image/E.jpg" alt="card1" width="245" height="149px">
			<div class="card-lable">
				<label style=" margin-left: 16px; font-weight:bold;">Robotics Classes For...</label>
				<p style="font-size: 12px; margin-top: 6px; margin-left: 15px; font-family: sans-serif;">Perfect Place
					For Kids to...</p>
				<span style="font-size: 15px; padding-left: 16px;color: #ff6620;">₹</span><span
					style="font-size: 20px;margin-left: 3px;color: #ff6620;font-weight: 600;">18200</span>
				<span class="price_off" style="font-size: 16px;font-weight: 600;color:black;"><span
						style="font-family: sans-serif;">₹</span>26000</span>
				<div class="card-icon">
					<span><a href="#"><img src="https://img.icons8.com/ios/24/null/shopping-cart--v1.png" style=""></a>
						<a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png"></a></span>
				</div>
				<a href="#;" style="text-decoration: none; color:#4a5874 !important;font-size:11px; margin-left: 12px ;">By
					Techradiance
				</a>
			</div>
		</div>
		<!-- card-3 -->
		<div class="card-2">
			<div class="box">
				<div class="ribbon"><span>30% off</span></div>
				<img src="image/A.jpg" alt="card1" width="245" height="149px">
				<div class="card-lable">
					<label style=" margin-left: 16px; font-weight:bold;">Qlik View tutorials B...</label>
					<p style="font-size: 12px; margin-top: 6px; margin-left: 15px; font-family: sans-serif;">A Warm
						Welcome To You. l..</p>
					<span style="font-size: 15px; padding-left: 16px;color: #ff6620;">₹</span><span
						style="font-size: 20px;margin-left: 3px;color: #ff6620;font-weight: 600;">520</span>
					<span class="price_off" style="font-size: 16px;font-weight: 600;color:black;"><span
							style="font-family: sans-serif;">₹</span>1300</span>
					<div class="card-icon">
						<span><a href="#"><img src="https://img.icons8.com/ios/24/null/shopping-cart--v1.png"
									style=""></a>
							<a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png"></a></span>
					</div>
					<a href="#;"
						style="text-decoration: none; color:#4a5874 !important;font-size:11px; margin-left: 12px ;"
						tabindex="0">By
						Prathmesh Bendkhale
					</a>
				</div>
			</div>
			<!-- card-4 -->
			<div class="card-2">
				<div class="box">
					<div class="ribbon"><span>48% off</span></div>
					<img src="image/D.jpg" alt="card1" width="245" height="149px">
					<div class="card-lable">
						<label style=" margin-left: 16px; font-weight:bold;">Learn To Read Music</label>
						<p style="font-size: 12px; margin-top: 6px; margin-left: 15px; font-family: sans-serif;">
							Nowadays,Most Of The Mus..</p>
						<span style="font-size: 15px; padding-left: 16px;color: #ff6620;">₹</span><span
							style="font-size: 20px;margin-left: 3px;color: #ff6620;font-weight: 600;">1099</span>
						<span class="price_off" style="font-size: 16px;font-weight: 600;color:black;"><span
								style="font-family: sans-serif;">₹</span>2100</span>
						<div class="card-icon">
							<span><a href="#"><img src="https://img.icons8.com/ios/24/null/shopping-cart--v1.png"
										style=""></a>
								<a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png"></a></span>
						</div>
						<a href="#;"
							style="text-decoration: none; color:#4a5874 !important;font-size:11px; margin-left: 12px ;"
							tabindex="0">By Soor Malhar The Music Lea...
						</a>
					</div>
				</div>
				<!-- card-5 -->
				<div class="card-2">
					<div class="box">
						<div class="ribbon"><span>92% off</span></div>
						<img src="image/C.jpg" alt="card1" width="245" height="149px">
						<div class="card-lable">
							<label style=" margin-left: 16px; font-weight:bold;">Sales Strategies</label>
							<p style="font-size: 12px; margin-top: 6px; margin-left: 15px; font-family: sans-serif;">
								"How to Sell This Cou...</p>
							<span style="font-size: 15px; padding-left: 16px;color: #ff6620;">₹</span><span
								style="font-size: 20px;margin-left: 3px;color: #ff6620;font-weight: 600;">799</span>
							<span class="price_off" style="font-size: 16px;font-weight: 600;color:black;"><span
									style="font-family: sans-serif;">₹</span>10000</span>
							<div class="card-icon">
								<span><a href="#"><img src="https://img.icons8.com/ios/24/null/shopping-cart--v1.png"
											style=""></a>
									<a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png"></a></span>
							</div>
							<a href="#;"
								style="text-decoration: none; color:#4a5874 !important;font-size:11px; margin-left: 12px ;"
								tabindex="0">By Neeta Training & Consulting Services
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<p style="font-size: 30px; margin-left: 68px;font-family: sans-serif; font-weight: bold;">Featured Courses</p>
	<div class="row2">
		<div class="box2">
			<div class="ribbon"><span>33% off</span></div>
			<img src="image/F.webp" alt="card1" width="245" height="149px">
			<div class="card-lable">
				<label style=" margin-left: 16px; font-weight:bold;">Finanace Pro</label>
				<p style="font-size: 12px; margin-top: 6px; margin-left: 15px; font-family: sans-serif;">This
					Certificates C...</p>
				<span style="font-size: 15px; padding-left: 16px;color: #ff6620;">₹</span><span
					style="font-size: 20px;margin-left: 3px;color: #ff6620;font-weight: 600;">999</span>
				<span class="price_off" style="font-size: 16px;font-weight: 600;color:black;"><span
						style="font-family: sans-serif;">₹</span>1499</span>
				<div class="card-icon price_on">
					<span><a href="#"><img src="https://img.icons8.com/ios/24/null/shopping-cart--v1.png" style=""></a>
						<a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png"></a></span>
				</div>
				<a href="#;" style="text-decoration: none; color:#4a5874 !important;font-size:11px; margin-left: 12px	;"
					tabindex="0">By Skill Edge
				</a>
			</div>

		</div>
		<div class="card-3">
			<div class="box2">
				<div class="ribbon"><span>54% off</span></div>
				<img src="image/G.webp" alt="card1" width="245" height="149px">
				<div class="card-lable">
					<label style=" margin-left: 16px; font-weight:bold;"> Systematic Guitar...</label>
					<p style="font-size: 12px; margin-top: 6px; margin-left: 15px; font-family: sans-serif;">Welcome To
						Systema...</p>
					<span style="font-size: 15px; padding-left: 16px;color: #ff6620;">₹</span><span
						style="font-size: 20px;margin-left: 3px;color: #ff6620;font-weight: 600;">1500</span>
					<span class="price_off" style="font-size: 16px;font-weight: 600;color:black;"><span
							style="font-family: sans-serif;">₹</span>3235</span>
					<div class="card-icon">
						<span><a href="#"><img src="https://img.icons8.com/ios/24/null/shopping-cart--v1.png"
									style=""></a>
							<a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png"></a></span>
					</div>
					<a href="#;"
						style="text-decoration: none; color:#4a5874 !important;font-size:11px; margin-left: 12px ;"
						tabindex="0">By Soor Malhar The Music Lea...
					</a>
				</div>
			</div>

			<div class="card-3">
				<div class="box2">
					<div class="ribbon"><span>50% off</span></div>
					<img src="image/H.webp" alt="card1" width="245" height="149px">
					<div class="card-lable">
						<label style=" margin-left: 16px; font-weight:bold;">Complete Youtube M...</label>
						<p style="font-size: 12px; margin-top: 6px; margin-left: 15px; font-family: sans-serif;">Whether
							You Are a...</p>
						<span style="font-size: 15px; padding-left: 16px;color: #ff6620;">₹</span><span
							style="font-size: 20px;margin-left: 3px;color: #ff6620;font-weight: 600;">500</span>
						<span class="price_off" style="font-size: 16px;font-weight: 600;color:black;"><span
								style="font-family: sans-serif;">₹</span>1000</span>
						<div class="card-icon">
							<span><a href="#"><img src="https://img.icons8.com/ios/24/null/shopping-cart--v1.png"
										style=""></a>
								<a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png"></a></span>
						</div>
						<a href="#;"
							style="text-decoration: none; color:#4a5874 !important;font-size:11px; margin-left: 12px ;"
							tabindex="0">By Manikandon
						</a>
					</div>
				</div>

				<div class="card-3">
					<div class="box2">
						<div class="ribbon"><span>50% off</span></div>
						<img src="image/I.webp" alt="card1" width="245" height="149px">
						<div class="card-lable">
							<label style=" margin-left: 16px; font-weight:bold;">JAIIB MAHACOMBO PA...</label>
							<p style="font-size: 12px; margin-top: 6px; margin-left: 15px; font-family: sans-serif;">
								JAIIB MOCK TESTS &...</p>
							<span style="font-size: 15px; padding-left: 16px;color: #ff6620;">₹</span><span
								style="font-size: 20px;margin-left: 3px;color: #ff6620;font-weight: 600;">2000</span>
							<span class="price_off" style="font-size: 16px;font-weight: 600;color:black;"><span
									style="font-family: sans-serif;">₹</span>3999</span>
							<div class="card-icon">
								<span><a href="#"><img src="https://img.icons8.com/ios/24/null/shopping-cart--v1.png"
											style=""></a>
									<a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png"></a></span>
							</div>
							<a href="#;"
								style="text-decoration: none; color:#4a5874 !important;font-size:11px; margin-left: 12px ;"
								tabindex="0">By Ambitious Baba
							</a>
						</div>
					</div>

					<div class="card-3">
						<div class="box2">
							<div class="ribbon"><span>70% off</span></div>
							<img src="image/k.png" alt="card1" width="245" height="149px">
							<div class="card-lable">
								<label style=" margin-left: 16px; font-weight:bold;">Event Management Cou..</label>
								<p
									style="font-size: 12px; margin-top: 6px; margin-left: 15px; font-family: sans-serif;">
									Course For Beginners to E...</p>
								<span style="font-size: 15px; padding-left: 16px;color: #ff6620;">₹</span><span
									style="font-size: 20px;margin-left: 3px;color: #ff6620;font-weight: 600;">990</span>
								<span class="price_off" style="font-size: 16px;font-weight: 600;color:black;"><span
										style="font-family: sans-serif;">₹</span>3300</span>
								<div class="card-icon">
									<span><a href="#"><img
												src="https://img.icons8.com/ios/24/null/shopping-cart--v1.png"
												style=""></a>
										<a href="#"><img
												src="https://img.icons8.com/ios/24/null/like--v1.png"></a></span>
								</div>
								<a href="#;"
									style="text-decoration: none; color:#4a5874 !important;font-size:11px; margin-left: 12px ;"
									tabindex="0">By Jeet
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	</div>
	<!-- row-1-end -->
	<br><br>
	<p style="font-size: 30px; margin-left: 60px;font-family: sans-serif; font-weight: bold;">Shop By Ctegories</p>
	<br>
	<div class="row-2">
		<!-- categories section -->
		<!-- category 1 -->
		<div class="container">
			<a href="#">
				<div class="category-card">
					<img src="image/A1.txt" alt="category" width="80px" height="75px"
						style="margin-left: 30px;margin-top: 9px;">
				</div>
				<h4 style="font-size: 15px; color: #000000c4; margin-left: 38px;padding-top: 19px; display: flex;">
					Marketing</h4>
		</div>
		<!-- category 2 -->
		<div class="container" style="margin-left:195px;margin-top: -135px;">
			<a href="#">
				<div class="category-card">
					<img src="image/A2.txt" alt="category" width="80px" height="75px"
						style="margin-left: 26px;margin-top: 9px;">
				</div>
				<h4 style="font-size: 14px; color: #000000c4; margin-left: 15px;padding-left: 15px;padding-top: 5px;">
					Body Health & Fitness</h4>
			</a>
		</div>
		<!-- category 3 -->
		<div class="container" style="margin-left:395px;margin-top: -135px;">
			<a href="#">
				<div class="category-card">
					<img src="image/A3.txt" alt="category" width="80px" height="75px"
						style="margin-left: 33px;margin-top: 9px;">
				</div>
				<h4 style="font-size: 14px; color: #000000c4; margin-left: 22px;padding-top: 5px; margin-top: 0px;">IT &
					Software Development</h4>
			</a>
		</div>
	</div>
	<!-- category 4 -->
	<div class="container" style="margin-left: 630px;margin-top: -135px;">
		<a href="#">
			<div class="category-card">
				<img src="image/A4.txt" alt="category" width="80px" height="75px" style="margin-left: 33px;margin-top: 9px;">
			</div>
			<h4 style="font-size: 13px; color: #000000c4; margin-left: 15px;padding-top: 10px; margin-top: 9px;">Spoken
				English</h4>
	</div></a></div>
	<!-- category 5 -->
	<div class="container" style="margin-left:839px;margin-top: -135px;">
		<a href="#">
			<div class="category-card">
				<img src="image/A5.txt" alt="category" width="80px" height="75px" style="margin-left: 33px;margin-top: 10px;">
			</div>
			<h4 style="font-size: 12px; color: #000000c4; margin-left: 15px;padding-top: 10px; margin-top: 9px;">
				Personal Lifestyle</h4>
	</div></a></div>
	<!-- category 6 -->
	<div class="container" style="margin-left:1035px;margin-top: -135px;">
		<a href="#">
			<div class="category-card">
				<img src="image/A6.txt" alt="category" width="80px" height="75px" style="margin-left: 30px;margin-top: 11px;">
			</div>
			<h4 style="font-size: 12px; color: #000000c4; margin-left: 15px;padding-top: 10px; margin-top: 9px;">Coding
				For Kids</h4>
	</div></a></div>
	<!-- category 7 -->
	<div class="container" style="margin-left:1230px;margin-top: -135px;">
		<a href="#">
			<div class="category-card">
				<img src="image/A8.txt" alt="category" width="80px" height="75px" style="margin-left: 33px;margin-top: 11px;">
			</div>
			<h4 style="font-size: 12px; color: #000000c4; margin-left: 15px;padding-top: 0px; margin-top: 19px;">
				Technical Education</h4>
	</div></a></div>
	<br><br><br>
	<!-- popular Brands Section -->
	<p style="font-size: 30px; margin-left: 60px;font-family: sans-serif; font-weight: bold;">Popular Brands On Digital
		Class</p>
	<br>
	<div class="popular-brands">
		<div style="margin-left: -11px;display: flex;">
			<div style=" width: 240px; height: 133px; border: 1px solid #ebebeb; margin-left: 37px; margin-top: 30px;">
				<a href="#"><img src="image/A9.png" align="popular-brands" width="235px" height="130px"></a>
			</div>
			<div style=" width: 240px; height: 133px; border: 1px solid #ebebeb; margin-left: 37px; margin-top: 30px;">
				<a href="#"><img src="image/A10.png" align="popular-brands" width="235px" height="130px"></a>
			</div>
			<div style=" width: 240px; height: 133px; border: 1px solid #ebebeb; margin-left: 37px; margin-top: 30px;">
				<a href="#"><img src="image/A11.png" align="popular-brands" width="235px" height="130px"></a>
			</div>
			<div style=" width: 240px; height: 133px; border: 1px solid #ebebeb; margin-left: 37px; margin-top: 30px;">
				<a href="#"><img src="image/A12.png" align="popular-brands" width="235px" height="130px"></a>
			</div>
			<div style=" width: 240px; height: 133px; border: 1px solid #ebebeb; margin-left: 37px; margin-top: 30px;">
				<a href="#"><img src="image/A13.png" align="popular-brands" width="235px" height="130px"></a>
			</div>
		</div>
	</div>
	<!-- banner -->
	<div style=" width: 1310px; height: 600px; border: 0px solid black;">
		<div style="margin-left: -11px;">
			<img src="image/B2.png" alt="digital class" width="640px" height="640px"
				style=" margin-left: 50px;margin-top: -100px;">
			<div style="margin-top: 0px;">
				<h2
					style="color: #30363c;font-size: 42px;font-family: inter,sans-serif;margin-top: -343px; margin-left: 680px;">
					Become a Course Seller
				</h2>
				<p style="margin-left: 43rem;margin-top: 10px;">Educators from around the world teach millions of
					students on Digital Class. </p>
				<p style="margin-left: 689px;margin-top: 6px;">We provide the tools and skills to teach what you love.
				</p>
				<button
					style="color: white; background-color: black; margin-left: 686px; margin-top: 25px; width: 135px;font-size: 19px;font-family: inter,sans-serif;height: 45px;padding-top: 10px;"
					type="submit" id="btn_newsletter" style=" height: -webkit-fill-available;"><span>Start
						Today</span>&ensp;<i class="fa fa-arrow-right"></i> &ensp;</button>
			</div>
		</div>
	</div><br><br><br>
	<p style="font-size: 30px; margin-left: 60px;margin-top: -70px;font-family: sans-serif; font-weight: bold;">Recommended Courses</p>
	<!-- new -recommended courses row -->
	<div class="row-3">
		<div class="card-row-1">
			<div class="box2">
			<div class="ribbon"><span>33% off</span></div>
			<img src="image/C1.webp" alt="card1" width="245" height="149px">
			<div class="card-lable">
			<label style=" margin-left: 16px; font-weight:bold;">Goal Setting</label>
			<p style="font-size: 12px; margin-top: 6px; margin-left: 15px; font-family: sans-serif;">Once You Know What</p>
			<span style="font-size: 15px; padding-left: 16px;color: #ff6620;">₹</span><span style="font-size: 20px;margin-left: 3px;color: #ff6620;font-weight: 600;">500</span>
			<span class="price_off" style="font-size: 16px;font-weight: 600;color:black;"><span style="font-family: sans-serif;">₹</span>1000</span>
			<div class="card-icon">
			  <span><a href="#"><img src="https://img.icons8.com/ios/24/null/shopping-cart--v1.png" style=""></a>
			  <a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png"></a></span>
			</div>
			<a href="#;" style="text-decoration: none; color:#4a5874 !important;font-size:11px; margin-left: 12px	;" tabindex="0" >By Neeta Training and Consul...
		  </a>
		  </div>
		
			</div>
			<div class="card-3">
			<div class="box2">
			<div class="ribbon"><span>50% off</span></div>
			<img src="image/C2.webp" alt="card1" width="245" height="149px">
			<div class="card-lable">
			<label style=" margin-left: 16px; font-weight:bold;">CAIIB MAHACOMBO...</label>
			<p style="font-size: 12px; margin-top: 6px; margin-left: 15px; font-family: sans-serif;">CAIIB MAHACOMBO PA..</p>
			<span style="font-size: 15px; padding-left: 16px;color: #ff6620;">₹</span><span style="font-size: 20px;margin-left: 3px;color: #ff6620;font-weight: 600;">2000</span>
			<span class="price_off" style="font-size: 16px;font-weight: 600;color:black;"><span style="font-family: sans-serif;">₹</span>3999</span>
			<div class="card-icon">
			  <span><a href="#"><img src="https://img.icons8.com/ios/24/null/shopping-cart--v1.png" style=""></a>
			  <a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png"></a></span>
			</div>
			<a href="#;" style="text-decoration: none; color:#4a5874 !important;font-size:11px; margin-left: 12px ;" tabindex="0" >By Ambitious Baba
		  </a>
		  </div>
		  </div>
		
			<div class="card-3">
			<div class="box2">
			<div class="ribbon"><span>90% off</span></div>
			<img src="image/C3.webp" alt="card1" width="245" height="149px">
			<div class="card-lable">
			<label style=" margin-left: 16px; font-weight:bold;">Public Speaking</label>
			<p style="font-size: 12px; margin-top: 6px; margin-left: 15px; font-family: sans-serif;">To Learn the art o..</p>
			<span style="font-size: 15px; padding-left: 16px;color: #ff6620;">₹</span><span style="font-size: 20px;margin-left: 3px;color: #ff6620;font-weight: 600;">1000</span>
			<span class="price_off" style="font-size: 16px;font-weight: 600;color:black;"><span style="font-family: sans-serif;">₹</span>10000</span>
			<div class="card-icon">
			  <span><a href="#"><img src="https://img.icons8.com/ios/24/null/shopping-cart--v1.png" style=""></a>
			  <a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png"></a></span>
			</div>
			<a href="#;" style="text-decoration: none; color:#4a5874 !important;font-size:11px; margin-left: 12px ;" tabindex="0" >By Manikandon
		  </a>
		  </div>
		  </div>
		
		  <div class="card-3">
			<div class="box2">
			<div class="ribbon"><span>67% off</span></div>
			<img src="image/C4.webp" alt="card1" width="245" height="149px">
			<div class="card-lable">
			<label style=" margin-left: 16px; font-weight:bold;">The Ultimate Py..</label>
			<p style="font-size: 12px; margin-top: 6px; margin-left: 15px; font-family: sans-serif;">Learn Python Like...</p>
			<span style="font-size: 15px; padding-left: 16px;color: #ff6620;">₹</span><span style="font-size: 20px;margin-left: 3px;color: #ff6620;font-weight: 600;">495</span>
			<span class="price_off" style="font-size: 16px;font-weight: 600;color:black;"><span style="font-family: sans-serif;">₹</span>1500</span>
			<div class="card-icon">
			  <span><a href="#"><img src="https://img.icons8.com/ios/24/null/shopping-cart--v1.png" style=""></a>
			  <a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png"></a></span>
			</div>
			<a href="#;" style="text-decoration: none; color:#4a5874 !important;font-size:11px; margin-left: 12px ;" tabindex="0" >By Insights4all Learning Cen...
		  </a>
		  </div>
		  </div>
		
		  <div class="card-3">
			<div class="box2">
			<div class="ribbon"><span>70% off</span></div>
			<img src="image/k.png" alt="card1" width="245" height="149px">
			<div class="card-lable">
			<label style=" margin-left: 16px; font-weight:bold;">Event Management Cou..</label>
			<p style="font-size: 12px; margin-top: 6px; margin-left: 15px; font-family: sans-serif;">Course For Beginners to E...</p>
			<span style="font-size: 15px; padding-left: 16px;color: #ff6620;">₹</span><span style="font-size: 20px;margin-left: 3px;color: #ff6620;font-weight: 600;">990</span>
			<span class="price_off" style="font-size: 16px;font-weight: 600;color:black;"><span style="font-family: sans-serif;">₹</span>3300</span>
			<div class="card-icon">
			  <span><a href="#"><img src="https://img.icons8.com/ios/24/null/shopping-cart--v1.png" style=""></a>
			  <a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png"></a></span>
			</div>
			<a href="#;" style="text-decoration: none; color:#4a5874 !important;font-size:11px; margin-left: 12px ;" tabindex="0" >By Jeet
		  </a>
		  </div>
		  </div>
			</div>		
		  </div></div></div></div>
	</div>
	<!-- row3-end -->
	<p style="font-size: 30px; margin-left: 60px;margin-top: 40px;font-family: sans-serif; font-weight: bold;">Browse Institutes</p>
	<br><br>
	<!-- browsing institute -->
	<div class="Browsing-Institute">
		<div style=" margin-top: 17px; margin-left: 10px;display: flex;">
		<img src="image/B4.webp" width="134px" height="134px">
	   <div>
	   	<div style="margin-top: -12px;margin-left: 460px;">
	   		<a href="#"><img src="https://img.icons8.com/material-rounded/24/null/share.png"></a>
	   		<a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png"></a>
	   	</div>
       <h2 style="margin-left: 40px; margin-top: -12px;font-size: 29px;">Toral Educational Institu</h2>
	   <div style="margin-top: 14px;">
      <h4 style="margin-left: 40px;color: #7f7f7f; margin-top: -12px;">English Grammar,English At Home,Advanced English,M...</h4></div>
	  <div style="margin-top: 13px;">
      <h4 style="margin-left: 45px;color: #7f7f7f; margin-top: -12px;"><a href="#">Nikol</a>&nbsp;&nbsp;,<a href="#">Ahmedabad</a></h4> </div>
            <div style="margin-top: 28px;">
	       <span style="margin-left: 45px;margin-top: 100px;"><a href="#" style="padding: 10px 10px 10px 10px;border: 1px solid blue;color: darkviolet;">View More</a></span>
           <span style="margin-left: 15px;margin-top: 100px;"><a href="#" style="padding: 10px 20px 10px 20px;border: 1px solid #1DD38F; background-color: #1DD38F;color: white;">Contact</a></span></div>
	  </div>
	  </div>
	
	</div>

	<div class="Browsing-Institute2">
		<div style=" margin-top: 17px; margin-left: 10px;display: flex;">
		<img src="image/b5.webp" width="134px" height="134px">
	   <div>
	   	<div style="margin-top: -12px;margin-left: 460px;">
	   		<a href="#"><img src="https://img.icons8.com/material-rounded/24/null/share.png"></a>
	   		<a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png"></a>
	   	</div>
       <h2 style="margin-left: 40px; margin-top: -12px;font-size: 29px;">Kushal Institute</h2>
	   <div style="margin-top: 14px;">
      <h4 style="margin-left: 40px;color: #7f7f7f; margin-top: -12px;">Java,HTML,C++,Android,Web 	Design,Dot Net(VB,ASP,...</h4></div>
	  <div style="margin-top: 13px;">
      <h4 style="margin-left: 45px;color: #7f7f7f; margin-top: -12px;"><a href="#">Ashram Road p.O,Ahmedabad.</a>&nbsp;&nbsp;,<a href="#">Ahmedabad</a></h4> </div>
            <div style="margin-top: 28px;">
	       <span style="margin-left: 45px;margin-top: 100px;"><a href="#" style="padding: 10px 10px 10px 10px;border: 1px solid blue;color: darkviolet;">View More</a></span>
           <span style="margin-left: 15px;margin-top: 100px;"><a href="#" style="padding: 10px 20px 10px 20px;border: 1px solid #1DD38F; background-color: #1DD38F;color: white;">Contact</a></span></div>
	  </div>
	  </div>
	
	</div>
<!-- Browse University and Colleges Section -->
	<p style="font-size: 30px; margin-left: 55px;margin-top: 40px;font-family: sans-serif; font-weight: bold;">Browse university and Colleges</p>
	<div class="institutes">
		<!-- new section -->

	<div style="width: 300px;height: 299px;border: 1px solid #ebebeb;margin-left: 37px;">

		<div style="margin-left: 233px;margin-top: 3px;">	
			<a href="#"> <img src="https://img.icons8.com/material-rounded/24/null/share.png" alt="Share"></a>
			<a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png" alt="Like"></a>
		</div>
	
		  <div style="margin-left: 80px;">
			   <img src="image/B6.webp" width="144px" height="135px">
	   </div>
	
	   <h2 style="font-size: 18px;font-family: inter,sans-serif;font-weight: 600;margin-left: 39px;margin-top: 3px;color:#000000c4 !important;">Gujarat Commerce College</h2> 
	
	   <span class="loc_open">government</span>
	
	   <div style="margin-top: 28px;">
			   <span style="margin-left: 45px;margin-top: 100px;"><a href="#" style="padding: 10px 10px 10px 10px;border: 1px solid blue;color: darkviolet;">View More</a></span>
			   <span style="margin-left: 15px;margin-top: 100px;"><a href="#" style="padding: 10px 20px 10px 20px;border: 1px solid #1DD38F; background-color: #1DD38F;color: white;">Contact</a></span></div>
			
		</div>
		<!-- -- -->
		<div style="width: 300px;height: 299px;border: 1px solid #ebebeb;margin-top: -299px;margin-left: 380px;">

			<div style="margin-left: 233px;margin-top: 3px;">	
				 <a href="#"><img src="https://img.icons8.com/material-rounded/24/null/share.png" alt="Share">
				<a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png" alt="Like">
			</div>
		
			  <div style="margin-left: 80px;">
				   <img src="image/B7.webp" width="144px" height="135px">
		   </div>
		
		   <h2 style="font-size: 18px;font-family: inter,sans-serif;font-weight: 600;margin-left: 39px;margin-top: 3px;color:#000000c4 !important;">Maria College Of Educatio</h2> 
		
		   <span class="loc_open">private</span>
		
		   <div style="margin-top: 28px;">
				   <span style="margin-left: 45px;margin-top: 100px;"><a href="#" style="padding: 10px 10px 10px 10px;border: 1px solid blue;color: darkviolet;">View More</a></span>
				   <span style="margin-left: 15px;margin-top: 100px;"><a href="#" style="padding: 10px 20px 10px 20px;border: 1px solid #1DD38F; background-color: #1DD38F;color: white;">Contact</a></span></div>
				
			</div>

			<!-- ---- -- -->
		<div style="width: 300px;height: 299px;border: 1px solid #ebebeb;margin-left: 736px;margin-top: -299px;">

			<div style="margin-left: 233px;margin-top: 3px;">	
				<a href="#"> <img src="https://img.icons8.com/material-rounded/24/null/share.png" alt="Share"></a>
				<a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png" alt="Like"></a>
			</div>
		
			  <div style="margin-left: 80px;">
				   <img src="image/B8.webp" width="144px" height="135px">
		   </div>
		
		   <h2 style="font-size: 18px;font-family: inter,sans-serif;font-weight: 600;margin-left: 39px;margin-top: 3px;color:#000000c4 !important;">Ips Academy College</h2> 
		
		   <span class="loc_open">private</span>
		
		   <div style="margin-top: 28px;">
				   <span style="margin-left: 45px;margin-top: 100px;"><a href="#" style="padding: 10px 10px 10px 10px;border: 1px solid blue;color: darkviolet;">View More</a></span>
				   <span style="margin-left: 15px;margin-top: 100px;"><a href="#" style="padding: 10px 20px 10px 20px;border: 1px solid #1DD38F; background-color: #1DD38F;color: white;">Contact</a></span></div>
				
			</div>
			<!--  -->
			<!-- ---------- -->
		<div style="width: 300px;height: 299px;border: 1px solid #ebebeb;margin-left: 1087px;margin-top: -299px;">

			<div style="margin-left: 233px;margin-top: 3px;">	
				<a href="#"> <img src="https://img.icons8.com/material-rounded/24/null/share.png" alt="Share"></a>
				<a href="#"><img src="https://img.icons8.com/ios/24/null/like--v1.png" alt="Like"></a>
			</div>
		
			  <div style="margin-left: 80px;">
				   <img src="image/B11.webp" width="144px" height="135px">
		   </div>
		
		   <h2 style="font-size: 18px;font-family: inter,sans-serif;font-weight: 600;margin-left: 39px;margin-top: 3px;color:#000000c4 !important;">Malwa Institute Of Techno</h2> 
		
		   <span class="loc_open">government</span>
		
		   <div style="margin-top: 28px;">
				   <span style="margin-left: 45px;margin-top: 100px;"><a href="#" style="padding: 10px 10px 10px 10px;border: 1px solid blue;color: darkviolet;">View More</a></span>
				   <span style="margin-left: 15px;margin-top: 100px;"><a href="#" style="padding: 10px 20px 10px 20px;border: 1px solid #1DD38F; background-color: #1DD38F;color: white;">Contact</a></span></div>
				
			</div>
			<!-- Download app -banner-2 -->
			<div style=" position: center;margin-top: 70px;">
				<div class="grid-container">
					<div>
						<img src="image/B9.png" width="539px">
					</div>
					<div style="width: 509px;">
						<h5 style="color: #30363c;font-family: system-ui;font-size: 32px;font-weight: 600;margin-top: 38px;margin-left: 15px;">Let's find you the Best Courses &amp; <br> Institutions</h5>
					  
					  <p class=" download-now" style="color:#30363c;font-family: System;margin-bottom: 12px;margin-top: 13px;margin-left: 1.5rem;">Get the link to download the App</p>
				  
					 <img src="image/qr.png" alt="Scan me" width="100" height="101"loading="lazy" style="border-radius: 5px;margin-left: 27px;margin-top: 4px;">
				
					 <a href="#"><img src="image/playlogo.jpg" style="margin-bottom: 30px;margin-left: 20px;" alt="Download App" width="132" height="42"></a>
					</div>
					</div>
				</div>
				</div>
				<br>
				<!-- teachers section-->
	<p style="font-size: 30px; margin-left: 60px;margin-top: 40px;font-family: sans-serif; font-weight: bold;">Meet the Educators</p><br><br>
	<div class="teacher-section" >
		
		<div style="display: inline-flex;">
			<div class="educators-card" style="margin-left: 82px;"> 
			
				<div style=" width: 135px; height: 135px; border: 0px solid black; border-radius: 7px;margin-left: 18px; margin-top: 18px;">
				   <img src="image/T1.webp" width="135px" height="135px" style="border-radius: 7px;">
				</div>
				<div style="padding-top: 18px;margin-left: 12px;height: auto	;">
				  <p style="color: #777777;margin-top: -154px;font-family: inter,sans-serif;margin-left: 172px;"><b>Spoken English</b></p>
				   <p style="font-weight: bold;font-family: sans-serif;margin-left: 178px;font-size: 17px;margin-top: 20px;">Toral Educat.</p>
					 <p style="font-size: 12px;margin-left: 180px;margin-top: 12px;"><a href="#">Mr. H.V. KEVADIA</a></p>
				</div>
				 <div style="width: 406px; height: 33px; border:  1px dashed #ebebeb;margin-top: 0px;border-bottom: hidden; border-left: hidden;border-right: hidden;">
					 <div style=" text-align: center;margin: auto;margin-top: 12px;margin-left: -12px;">
						 <p style="font-family: inter,sans-serif;">See My Course&nbsp;<a href="#">></a></p>
					 </div>
				</div>
			  </div>
			<!--  -->
			<div class="educators-card" style="margin-left: 29px;"> 
			
				<div style=" width: 135px; height: 135px; border: 0px solid black; border-radius: 7px;margin-left: 18px; margin-top: 18px;">
				   <img src="image/T3.webp" width="135px" height="135px" style="border-radius: 7px;">
				</div>
				<div style="padding-top: 18px;margin-left: 12px;height: auto	;">
				  <p style="color: #777777;margin-top: -154px;font-family: inter,sans-serif;margin-left: 172px;"><b>Nisha Rwt</b></p>
				   <p style="font-weight: bold;font-family: sans-serif;margin-left: 178px;font-size: 17px;margin-top: 20px;">Experienced And Certified online</p>
					 <p style="font-size: 12px;margin-left: 180px;margin-top: 12px;"><a href="#">Multilingual Tuto</a></p>
				</div>
				 <div style="width: 406px; height: 33px; border:  1px dashed #ebebeb;margin-top: 0px;border-bottom: hidden; border-left: hidden;border-right: hidden;">
					 <div style=" text-align: center;margin: auto;margin-top: 12px;margin-left: -12px;">
						 <p style="font-family: inter,sans-serif;">See My Course&nbsp;<a href="#">></a></p>
					 </div>
				</div>
			</div>
			</div>
			<!--  -->
			<div class="educators-card" style="margin-left: 58px;margin-left: 958px;margin-top: -216px;"> 
			
				<div style=" width: 135px; height: 135px; border: 0px solid black; border-radius: 7px;margin-left: 18px; margin-top: 18px;">
				   <img src="image/T4.webp" width="135px" height="135px" style="border-radius: 7px;">
				</div>
				<div style="padding-top: 18px;margin-left: 12px;height: auto	;">
				  <p style="color: #777777;margin-top: -154px;font-family: inter,sans-serif;margin-left: 172px;"><b>Personality Developm.</b></p>
				   <p style="font-weight: bold;font-family: sans-serif;margin-left: 178px;font-size: 17px;margin-top: 20px;">Elisaveta pa.</p>
					 <p style="font-size: 12px;margin-left: 180px;margin-top: 12px;"><a href="#">DR. ELISAVETA PAWLOVA phD. <br>Ms. CEDS,IE-pro,EDIT-.</a></p>
				</div>
				 <div style="width: 406px; height: 33px; border:  1px dashed #ebebeb;margin-top: 0px;border-bottom: hidden; border-left: hidden;border-right: hidden;">
					 <div style=" text-align: center;margin: auto;margin-top: 12px;margin-left: -12px;">
						 <p style="font-family: inter,sans-serif;">See My Course&nbsp;<a href="#">></a></p>
					 </div>
				</div>
			</div>
			</div>
			
	</div>
	<br>
	<div>
	<p style="font-size: 30px; margin-left: 60px;margin-top: 40px;font-family: sans-serif; font-weight: bold;">We are Featured in</p><br><br>
	</div>
	<br>
	<div style="margin-left: 70px;letter-spacing: 74px;margin-top: -50px;filter: grayscale(1);">
	<a href="#"><span><img src="image/L1.webp" alt=""></span></a>
	<a href="#"><span><img src="image/L6.webp" alt=""></span></a>
	<a href="#"><span><img src="image/L2.webp" alt=""></span></a>
	<a href="#"><span><img src="image/L3.webp" alt=""></span></a>
	<a href="#"><span><img src="image/L5.webp" alt=""></span></a>
	</div>
	<br>
	<div>
	<div class="footer-top">
		<h3 class="title" style="color: #ffffff;font-size: 26px;">Subscribe Our Newsletter</h3>
		<div class="price-line">
			<p class="title-desc" style="color: #ffffff;">and receive <span
					style="color: #ff6620;font-size: 22px;font-weight:bold;"><span
						style="font-family:sans-sarif;color:#ff6620;font-weight:bold;">₹</span>500 coupon</span> for
				first course purchase</p>
		</div> 
		<!-- search bar-->
		<span class="footer-form">
			<input type="email" placeholder="Enter your Email Address" name="email" aria-label="Email Adress"
				aria-describedby="newsletter-btn" required=""
				style="height: 52px !important; margin-left: 396px; margin-top: 24px;width: 429px;"></span>
		<button class="Subcribe-btn"><a href="#">Subcribe</a></button>
	</div>
</div>
	<!-- footer-middle-->
	<div class="footer-middle">
		<div class="col1">
			<span class="col-1-title">Course Categories</span>
			<ul style="list-style: none; margin-top: 23px;">
				<a href="#">
					<li class="list">Training Program</li>
				</a>
				<a href="#">
					<li class="list">Designing</li>
				</a>
				<a href="#">
					<li class="list">Bussiness Manangement</li>
				</a>
				<a href="#">
					<li class="list">Entrance Exam</li>
				</a>
				<a href="#">
					<li class="list">Accounts & Finance</li>
				</a>
				<a href="#">
					<li class="list">Personality Devlopment</li>
				</a>
			</ul>
		</div>
		<div class="col2">
			<span class="col-1-title">Quick Links</span>
			<ul style="list-style: none; margin-top: 23px;">
				<a href="#">
					<li class="list">Schools</li>
				</a>
				<a href="#">
					<li class="list">Colleges</li>
				</a>
				<a href="#">
					<li class="list">Websites</li>
				</a>
				<a href="#">
					<li class="list">Youtube Channels</li>
				</a>
				<a href="#">
					<li class="list">Educational Apps</li>
				</a>
				<a href="#">
					<li class="list">Coaching Institutes </li>
				</a>

			</ul>
		</div>
		<div class="col3">
			<span class="col-1-title">Accounts</span>
			<ul style="list-style: none; margin-top: 23px;">
				<a href="#">
					<li class="list">Self Course/li>
				</a>
				<a href="#">
					<li class="list">List Bussiess</li>
				</a>
				<a href="#">
					<li class="list">Join Admission Partner</li>
				</a>
			</ul>
		</div>
		<div class="col4">
			<span class="col-1-title">Need Help?</span>
			<ul style="list-style: none; margin-top: 23px;">
				<a href="mailto">
					<li class="list">Support@digitalclassworld.com</li>
				</a>
				<a href="#">
					<li class="list">Download App</li>
				</a>
				<a href="#">
					<li class="list"><img src="image/playlogo.jpg" alt="Download app" width="165" height="50"></li>
				</a>
			</ul>

		</div>


	</div>
	<hr style="margin-top: -32px; color: #EbEbEb;" class="horizantle-row">
	<div class="footer-bottum">
		<a href="#"><img src="https://img.icons8.com/color/25/null/linkedin-circled--v1.png" alt="linkedin"></a>
		<a href="#"><img src="https://img.icons8.com/color/25/null/facebook-new.png" alt="facebook"></a>
		<a href="#"><img src="https://img.icons8.com/color/25/null/twitter--v1.png" alt="twitter"></a>
		<a href="#"><img src="https://img.icons8.com/fluency/25/null/instagram-new.png" alt="instagram"></a>
		<a href="#"><img src="https://img.icons8.com/fluency/25/null/youtube-squared.png" alt="youtube"></a>
		<br>
		<hr class="horizantle-row">
	</div>
	<br>
	<span style="margin-left: 452px; font-family: sans-serif; margin-top: 12px;">Copyright © 2023 Digital Class World.
		All Rights Reserved.</span>
</body>

</html>