*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
	
}
.header-start{
	height: 45px;
	width: 100%;
	background-color: #f5f5f5;
	display: flex;
}
.menu{

}
.hmenu {
    list-style-type: none;
    display: flex;
    gap: 38px;
    padding-top: 17px;
    margin-left: 55px;
    font-family: sans-serif;
    font-size: 15px;
	
}
/* unvisited link */
a:link {
	color: #171414;
	text-decoration: none;
	
	
  }
  
  /* visited link */
  a:visited {
	color: #1a1c1a;
  }
  
  /* mouse over link */
  a:hover {
	color: blue;
  }
  
  /* selected link */
  a:active {
	color: #111113;
  }
  .micon {
    margin-top: 15px;
    margin-left: 758px;
    font-size: 16px;
}

  .dapp {
	margin-top: 19px;
	margin-left: 8px;
}
.hmiddle{
  /* border: 1px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 93.97px;
    
}
.image {
  width: 156.02px;
  height: 35px;
  margin-top: 26px;
  margin-left: 43px;
  
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;

}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 222px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}
.select {
  display: flex;
  margin-top: -46px;
  margin-left: 232px;
}
.search{
  margin-left: 12px;
}
input[type="search"] {
  padding-left: 20px;
  font-size: 17px;
}
.sicon {
  margin-top: 14px;
  margin-left: -36px;
}
.cicon {
  margin: auto;
  letter-spacing: 25px;
  margin-left: 156px;
}
.footer-middle{
  height: 290px;
  border: 0px solid black;
}
.col1 {
    font-family: sans-serif;
    margin-top: 66px;
    margin-left: 40px;
}
.col-1-title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-left: 0px;
}
.list{
  margin-bottom: 6px;
}
.col2 {
    margin-top: -193px;
    margin-left: 391px;
}
.col3 {
    margin-top: -195px;
    margin-left: 732px;
}
.col4 {
    margin-top: -116px;
    margin-left: 1057px;
}
.footer-bottum{
  height: 34px;
  width: 250px;
  margin: auto;
  border: 0px solid black;
  letter-spacing: 16px;
  margin-top: 19px;

}
.horizantle-row{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.footer-top{
  height: 250px;
  width: 100%;
  background-color: black;
  font-family: sans-serif;

}
.title {
  padding-top: 36px;
  margin-left: 517px;
}
.price-line {
  margin-left: 470px;
  margin-top: 11px;
  font-family: sans-serif;
}
input[type="email"] {
  padding-left: 20px;
  font-size: 17px;
}
.Subcribe-btn {
  height: 55px;
  margin-left: -5px;
  width: 165px;
  font-size: 17px;
  font-family: sans-serif;
  color: white;
  background-color: dodgerblue;
}
/* Slider */
.slowFade {
  display: flex;
  align-items: flex-start;
  background: #fff;
  height: 392px;
  width: 1310px;
  overflow: hidden;
  position: relative;
}
.slowFade .slide img {
  position: absolute;
  min-width: 100%;
  min-height: 100%x;
  height: auto;
  background: #000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  opacity: 0;
/*    transform: scale(1.5) rotate(15deg);*/
  -webkit-animation: slowFade 32s infinite;
          animation: slowFade 15s infinite;
}
.slowFade .slide:nth-child(3) img {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.slowFade .slide:nth-child(2) img {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}
.slowFade .slide:nth-child(1) img {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
@keyframes slowFade {
  25% {
      opacity: 1;
      transform: scale(1) rotate(0);
  }
  40% {
      opacity: 0;
  }
}
.slider{
  margin-left: 53px;
  margin-top: 2px;
}
.row1{

}
.box {
  width: 245px;
   height: 275px;
  position: relative;
  border: 1px solid #BBB;
  background: white;
  border-radius: 9px;
  margin-left: 33px;
}
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.price_off {
    font-size: 13px;
    margin-right: .6rem;
    text-decoration: line-through;
    opacity: .7;
    margin-left: 12px;
}
.card-lable {
    padding-top: 12px;
}
.card-icon {
    letter-spacing: 5px;
    margin-top: -26px;
    margin-left: 179px;
}
.card-2 {
    margin-left: 275px;
    margin-top: -276px;
}
.box2 {
  width: 245px;
   height: 275px;
  position: relative;
  border: 1px solid #BBB;
  background: white;
  border-radius: 9px;
}
.card-3 {
  margin-left: 275px;
  margin-top: -276px;
}
.row2 {
  margin-top: 28px;
  margin-left: 32px;
  
}
.category-card{
  width: 145px;
  height: 99px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}
.container{
  width: 145px;
  height: 135px;
  border-radius: 10px;
  border: 0px solid black;
  font-family: sans-serif;

  
}
.container:hover{
   box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.row-2{
  margin-left: 30px;
  margin-top: 12px;
}
.popular-brands{
  width: 100%px;
  height: 210px;
  border: 1px solid #ebebeb;
}
.row-3 {
  margin-left: 40px;
  margin-top: 20px;
}
.browse-institutes{
  width: 670px;
  height: 170px;
  border: 1px solid #ebebeb;
  display: inline-flex;
  margin-left: 100px;

}
.institute_tewl {
font-size: 22px;
overflow: hidden;
white-space: nowrap;
margin-top: 5px;
padding-left: 72px;
font-family: inter,sans-serif;
text-overflow: ellipsis;

}
.css-1s6abim {
padding: 0 14px;
border: 1px solid #1dd38f;
font-size: 14px;
line-height: 28px;
color: #fff;
background-color: #1dd38f;
border-radius: 2px;
cursor: pointer;
height: 30px;
line-height: normal;
border: solid 1px #5e0be0;
background-color: #fff;
font-size: 14px;
padding: 0 6px;
margin-right: 8px;
color: #5e0be0;
}
.Browsing-Institute{
  width: 670px;
  height: 170px;
  border: 1px solid black;
}