<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style>
		.grid-container{
			width: 1130px;
			height: 418.99px;
			margin: auto;
			border-radius: 8px;
			display: flex;
			background-image: url(B13.jpg);
            
		}
	</style>
</head>
<body>
	<div style=" position: center fixed;">
<div class="grid-container">
	<div>
		<img src="image/B9.png" width="539px">
	</div>
	<div style="width: 509px;">
		<h5 style="color: #30363c;font-family: system-ui;font-size: 32px;font-weight: 600;margin-top: 38px;margin-left: 15px;">Let's find you the Best Courses &amp; <br> Institutions</h5>
      
      <p class=" download-now" style="color:#30363c;font-family: System;margin-bottom: 12px;margin-top: -36px;margin-left: 1.5rem;">Get the link to download the App</p>
  
     <img src="image/qr.png" alt="Scan me" width="100" height="101"loading="lazy" style="border-radius: 5px;margin-left: 27px;margin-top: 4px;">

     <a href="#"><img src="image/playlogo.jpg" style="margin-bottom: 30px;margin-left: 20px;" alt="Download App" width="132" height="42"></a>
	</div>
	<div>
</div>
</body>
</html>