<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style type="text/css">
		
		a{
			text-decoration: none;
		}
		.loc_open {
		    color: #32a067;
		    border: 1px solid #32a067;
		    font-size: 13px;
		    font-family: inter,sans-serif;
		    padding-left: 3px;
		    padding-right: 4px;
		    margin-left: 18px;
		    padding-top: 2px;
		    font-weight: bold;
		    padding-bottom: 2px;
		    border-radius: 3px;
		}
	</style>
</head>
<body>
	<!-- new section -->
	<div style="width: 335px;height: 299px;border: 1px solid #ebebeb;">
		<div style="margin-left: 277px;margin-top: 3px;">	
   <img src="https://img.icons8.com/material-rounded/24/null/share.png" alt="Share">
   <img src="https://img.icons8.com/ios/24/null/like--v1.png" alt="Like"></div>
   <div style="margin-left: 92px;">
   	<img src="B6.webp" width="144px" height="135px">
   </div>
   <h2 style="font-size: 18px;font-family: inter,sans-serif;font-weight: 600;margin-left: 39px;margin-top: 3px;color:#000000c4 !important;">Gujarat Commerce College</h2>
		<span class="loc_open">government</span>
		 <div style="margin-top: 28px;">
	       <span style="margin-left: 45px;margin-top: 100px;"><a href="#" style="padding: 10px 10px 10px 10px;border: 1px solid blue;color: darkviolet;">View More</a></span>
           <span style="margin-left: 15px;margin-top: 100px;"><a href="#" style="padding: 10px 20px 10px 20px;border: 1px solid #1DD38F; background-color: #1DD38F;color: white;">Contact</a></span></div>
	  </div>
	</div>
	<div style="width: 335px;height: 299px;border: 1px solid #ebebeb; margin-left: 348px;margin-top: -300px;">
		<div style="margin-left: 277px;margin-top: 3px;">	
   <img src="https://img.icons8.com/material-rounded/24/null/share.png" alt="Share">
   <img src="https://img.icons8.com/ios/24/null/like--v1.png" alt="Like"></div>
   <div style="margin-left: 92px;">
   	<img src="B7.webp" width="144px" height="135px">
   </div>
   <h2 style="font-size: 18px;font-family: inter,sans-serif;font-weight: 600;margin-left: 39px;margin-top: 3px;color:#000000c4 !important;">Maria College Educatio</h2>
		<span class="loc_open">Private</span>
		 <div style="margin-top: 28px;">
	       <span style="margin-left: 45px;margin-top: 100px;"><a href="#" style="padding: 10px 10px 10px 10px;border: 1px solid blue;color: darkviolet;">View More</a></span>
           <span style="margin-left: 15px;margin-top: 100px;"><a href="#" style="padding: 10px 20px 10px 20px;border: 1px solid #1DD38F; background-color: #1DD38F;color: white;">Contact</a></span></div>
	  </div>
	</div>
<div style="width: 335px;height: 299px;border: 1px solid #ebebeb; margin-left: 697px;margin-top: -300px;">
		<div style="margin-left: 277px;margin-top: 3px;">	
   <img src="https://img.icons8.com/material-rounded/24/null/share.png" alt="Share">
   <img src="https://img.icons8.com/ios/24/null/like--v1.png" alt="Like"></div>
   <div style="margin-left: 92px;">
   	<img src="B8.webp" width="144px" height="135px">
   </div>
   <h2 style="font-size: 18px;font-family: inter,sans-serif;font-weight: 600;margin-left: 39px;margin-top: 3px;color:#000000c4 !important;">ips Academy College</h2>
		<span class="loc_open">Private</span>
		 <div style="margin-top: 28px;">
	       <span style="margin-left: 45px;margin-top: 100px;"><a href="#" style="padding: 10px 10px 10px 10px;border: 1px solid blue;color: darkviolet;">View More</a></span>
           <span style="margin-left: 15px;margin-top: 100px;"><a href="#" style="padding: 10px 20px 10px 20px;border: 1px solid #1DD38F; background-color: #1DD38F;color: white;">Contact</a></span></div>
	  </div>
	</div>
<div style="width: 335px;height: 299px;border: 1px solid #ebebeb; margin-left: 1045px;margin-top: -300px;">
		<div style="margin-left: 277px;margin-top: 3px;">	
   <img src="https://img.icons8.com/material-rounded/24/null/share.png" alt="Share">
   <img src="https://img.icons8.com/ios/24/null/like--v1.png" alt="Like"></div>
   <div style="margin-left: 92px;">
   	<img src="B11.webp" width="144px" height="135px">
   </div>
   <h2 style="font-size: 18px;font-family: inter,sans-serif;font-weight: 600;margin-left: 39px;margin-top: 3px;color:#000000c4 !important;">Malwa Institute Of Techno</h2>
		<span class="loc_open">government</span>
		 <div style="margin-top: 28px;">
	       <span style="margin-left: 45px;margin-top: 100px;"><a href="#" style="padding: 10px 10px 10px 10px;border: 1px solid blue;color: darkviolet;">View More</a></span>
           <span style="margin-left: 15px;margin-top: 100px;"><a href="#" style="padding: 10px 20px 10px 20px;border: 1px solid #1DD38F; background-color: #1DD38F;color: white;">Contact</a></span></div>
	  </div>
	</div>
	
</body>
</html>