<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style type="text/css">
		.Browsing-Institute{
			width: 670px;
			height: 170px;
			border: 1px solid #ebebeb;
		}
		a{
			text-decoration: none;
		}
	</style>
</head>
<body>
	<div class="Browsing-Institute">
		<div style=" margin-top: 17px; margin-left: 10px;display: flex;">
		<img src="B4.webp" width="134px" height="134px">
	   <div>
	   	<div style="margin-top: -12px;margin-left: 460px;">
	   		<img src="https://img.icons8.com/material-rounded/24/null/share.png">
	   		<img src="https://img.icons8.com/ios/24/null/like--v1.png">	
	   	</div>
       <h2 style="margin-left: 40px; margin-top: -12px;font-size: 29px;">Toral Educational Institu</h2>
       <div style="">
      <h4 style="margin-left: 40px;color: #7f7f7f; margin-top: -12px;">English Grammar,English At Home,Advanced English,M...</h4>
      <h4 style="margin-left: 45px;color: #7f7f7f; margin-top: -12px;"><a href="#">Nikol</a>&nbsp;&nbsp;,<a href="#">Ahmedabad</a></h4> 
            </div>
           <span style="margin-left: 45px;"><a href="#" style="padding: 10px 10px 10px 10px;border: 1px solid blue;">View More</a></span>
           <span style="margin-left: 15px;"><a href="#" style="padding: 10px 20px 10px 20px;border: 1px solid #1DD38F; background-color: #1DD38F;color: white;">Contact</a></span>
	  </div>
	  </div>
	
	</div>

</body>
</html>